<div class="container">
  <button class="btn">Prueba con Google optimaze</button>
</div>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "imagen",
      "label": "Título2",
      "info": "Este es el título que se mostrará en el menú móvil."
    }
  ]
}
{% endschema %}
